.wd-margin-top {
    margin-top: 10px;
}

.wd-fa-sm {
    font-size: 0.5em;
}

.wd-btn-custom-tweet {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
    border-radius: 40px;
}

.wd-btn-custom-search {
    font-size: 20px;
    border: none !important;
}

.wd-input-search {
    border-radius: 30px;
}

.wd-search-user {
    position: relative;
}

.wd-search-user i{
    position: absolute;
    left: 15px;
    top: 20px;
    color: gray;
}

.wd-suggested-area {
    font-size: 12px;
    color: gray;
}

.wd-suggested-title {
    font-size: 12px;
    color: gray;
}

.wd-text-pos {
    font-size: 30px;
    color: white;
}

.wd-image-rounded {
    border-radius: 50%;
}

.wd-btn-custom-follow {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
    border-radius: 40px;
}

.override-bg {
    background-color: black !important;
}

.override-font {
    color: #d9d9d9;
}

.override-button-tweet {
    background-color: #1d9bf0;
}

.override-tab {
    color: darkgrey;
}

.nav-tabs.active.override-active-tab {
    color: white;
    background-color: black;
    font-weight: bold;
}

.wd-suggested-title.override-title {
    color: antiquewhite;
}

.input-text, textarea {
    background: #343538;
}

.override-follow {
    background: #2d2e31;
    color: antiquewhite;
}

.override-follow-name {
    color: antiquewhite;
}

.override-button-follow{
    background-color: antiquewhite;
    color: black;
    font-size: 15px;
}

.wd-post-content {
    font-size: 17px;
    color: lightgray;
    padding: 0 12px 12px 12px;
}